body{

    height: 100px;
    background-image: url("/ej7/img/highway.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

img{
    width: 80px;
    height: 140px;
    margin-left: 900px;
    margin-top: 700px;
}

.button{
    width: 100px;
    height: 50px;
    
}

.animar {
    animation-name: movimiento;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.73,.01,1,1.04);
   
}

@keyframes movimiento {
    100%{
        transform: translateY(-700px);
    }


}